
<head>
    <style>
        .education h3 {
            /* font-weight: bold; */
            margin-bottom: 30px;
            cursor: pointer; /* Add pointer cursor to indicate it's clickable */
        }

        .education .collapsed {
            display: none; /* Initially hide the content */
        }
    </style>
</head>
<body>
    <div class="education">
        <h3 style="margin-bottom: 30px;" onclick="toggleDescription1()">
            <i class="fa-solid fa-plus"></i> Education Experience
        </h3>
        <div class="collapsed"> <!-- Initially collapsed -->
            <div class="news mt-3 p-0">
                <div class="row">
                    <div class="col-sm-10">
                        <h5>B.Sc. in computer enineering</h5>
                    </div>
                </div>
                <h6 style="color: gray;">
                    Azad University, Mashhad Branch
                </h6>
                <span class="badge font-weight-bold text-uppercase" style="background-color: rgb(16, 103, 202);">
                    Sep 2018 - July 2022
                </span>
                <p align="justify">
                    <ul align='justify'>
                        <li>Overall GPA: 17.53/20 (3.5/4)</li>
                        <li>Last two years GPA: 4/4</li>
                        <li>Final Project Grade: 20/20 (4/4)</li>
                    </ul>
                </p>
                <hr>
            </div>
        </div>
    </div>

    <script>
        function toggleDescription1() {
            var content = document.querySelector('.education .collapsed');
            if (content.style.display === 'none' || content.style.display === '') {
                content.style.display = 'block'; // Show content when collapsed
            } else {
                content.style.display = 'none'; // Hide content when expanded
            }
        }
    </script>
