
<head>
    <style>
        .research h3 {
            /* font-weight: bold; */
            margin-bottom: 30px;
            cursor: pointer; /* Add pointer cursor to indicate it's clickable */
        }

        .research .collapsed {
            display: none; /* Initially hide the content */
        }
    </style>
</head>
<body>
    <div class="research">
        <h3 style="margin-bottom: 30px;" onclick="toggleDescription()">
            <i class="fa-solid fa-plus"></i> Research Experience
        </h3>
        <div class="collapsed"> <!-- Initially collapsed -->
            <div class="news mt-3 p-0">
                <div class="row">
                    <div class="col-sm-10">
                        <h5>Research Assistant</h5>
                    </div>
                </div>
                <h6 style="color: gray;">
                    Linnaeus University, Kalmar-Sweden (remote)
                </h6>
                <span class="badge font-weight-bold text-uppercase" style="background-color: rgb(16, 103, 202);">
                    Oct 2021 - July 2022
                </span>
                <p align="justify">
                    <ul align='justify'>
                        <li>Supervisor: <a href="https://lnu.se/en/staff/neda.maleki/">Dr. Neda Maleki</a></li>
                        <li>Research on visual font recognition using convolutional neural networks</li>
                        <li>Tools: Python · TensorFlow · LaTeX · Git · GNU/Linux · Google Colab</li>
                    </ul>
                </p>
                <hr>
            </div>
        </div>
    </div>

    <script>
        function toggleDescription() {
            var content = document.querySelector('.research .collapsed');
            if (content.style.display === 'none' || content.style.display === '') {
                content.style.display = 'block'; // Show content when collapsed
            } else {
                content.style.display = 'none'; // Hide content when expanded
            }
        }
    </script>