<div class="experience" data-columns="2">
  <h3 style="font-weight: bold; margin-bottom: 30px;"> Work Experience</h3>
  <div class="news mt-3 p-0">
    <div class="row">
      <div class="col-sm-10">
        <h5>Deep Learning Researcher</h5>
      </div>
    </div>
    <h6 style="color: gray;">
      Shenasa-ai Company, Tehran-Iran (remote)
    </h6>
    <span class="badge  font-weight-bold text-uppercase" style="background-color: rgb(16, 103, 202);">
      Mar 2022 - now
    </span>
    <p align="justify">
      <ul>
        <li>Research on keyword extraction methods and developed a web service for exploring documents by keywords.</li>
        <li>Research on face anti-spoofing methods to build an authentication system. </li>
        <li>Investigated methods: TF-IDF · Rake · Yake · Top2Vec · BERTop · Fast Text · SBERT · KeyBERT</li>
        <li>Tools: Python · FastAPI · GNU/Linux · MySQL · Git </li>
    </ul>  
  </p>
    <hr>
  </div>



  <div class="news mt-3 p-0">
    <div class="row">
      <div class="col-sm-10">
        <h5>Computer Vision Intern </h5>
      </div>
    </div>
    <h6 style="color: gray;">
      Veerasense Company, Mashhad-Iran
    </h6>
    <span class="badge font-weight-bold text-uppercase align-middle " style="background-color: rgb(16, 103, 202);">
      Aug 2021 - Sep 2021
    </span>    
    <p align="justify">
      <ul>
        <li>Investigated & examined CNN architectures such as YOLO, SSD, and CenterNet in the object detection area.</li>
        <li>Published fixed version of the CenterNet model, for running on Google Colab GPUs and making some experiments with different backbones on custom datasets</li>
        <li>Tools: Python · TensorFlow · Git · Google Colab</li>
     </ul> 
  </p>
    <hr>
  </div>


  <div class="news mt-3 p-0">
    <div class="row">
      <div class="col-sm-10">
        <h5>Back-End Developer </h5>
      </div>
    </div>
    <h6 style="color: gray;">
      Profile Digital Company, Mashhad-Iran
    </h6>
    <span class="badge font-weight-bold text-uppercase" style="background-color: rgb(16, 103, 202);">
      Apr 2019 - Mar 2020
    </span>    
    <p align="justify">
      <ul>
        <li>Back-end infrastructure services were developed and maintained using micro-service architecture.</li>
        <li>Tools: Python · Git · Golang · Docker · Mongo db · ElasticSearch db · Web Scraping · GNU/Linux</li>
     </ul> 
  </p>
    <hr>
  </div>
</div>
