---
layout: default
---
<header class="post-header">
    <h1 class="post-title">📞 Contact</h1>
    <p class="post-description">Mehrdad Mohammadian contact information.</p>
</header>

<div>
    <h3>📧 Email </h3>
    <li>mehrdad.mhmdn@gmail.com</li>
    <li>mehrdadmohammadian@mshdiau.ac.ir</li>
    </div>
    
    
    <div style="margin-top: 30px;">
    <h3>🌐 Social</h3>
    <li> <a href="https://www.researchgate.net/profile/Mehrdad-Mohammadian-3">Research Gate</a></li>
    <li> <a href="https://scholar.google.com/citations?user=oVnfWYQAAAAJ&hl=en">Google Scholar</a></li>
    <li><a href="https://www.linkedin.com/in/mehrdad-mohammadian-/">Linkedin</a></li>
    <li> <a href="https://github.com/mehrdad-dev">GitHub</a></li>
    <li> <a href="https://www.kaggle.com/mehrdadmohammadian">Kaggle</a></li>
    </div>