---
layout: default
---

<header class="post-header">
    <h1 class="post-title">🎓 Scores</h1>
    <p class="post-description">Scores of related university courses</p>
</header>

<div>

<p>Program: B.Sc in Computer Engineering - Full time</p>
<p>University: Azad university</p>    
<p>Grading scale: 0 (least) to 20 (best)</p>

<table style="width: 850px;" border = "1">
    <tr>
      <th style="background-color: bisque; font-weight: bold;">Course</th>
      <th style="background-color: bisque; font-weight: bold">Score</th>
      <th style="background-color: bisque; font-weight: bold">Credit</th>
      <th style="background-color: bisque; font-weight: bold">Theoretical (T) / Practical (P)</th>
    </tr>
    <tr>
        <td>Fundamentals of Computer Vision </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>   
    <tr>
        <td>Artificial Intelligence and Expert Systems </td>
        <td>19.5 </td>
        <td>3 </td>
        <td>T </td>
    </tr>     
    <tr>
        <td>Fundamentals of Computational Intelligence </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>     
    <tr>
      <td>Fundamentals of Language and Speech Processing</td>
      <td>20</td>
      <td>3</td>
      <td>T</td>
    </tr>
    <tr>
        <td>Fundamentals of Information Retrieval and Web Searching </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>   
    <tr>
        <td>Software Engineering </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>      
    <tr>
      <td>Principles of Robotics</td>
      <td>20</td>
      <td>3</td>
      <td>T</td>
    </tr>
    <tr>
        <td>Programming Languages Design </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>   
    <tr>
        <td>Algorithms Design </td>
        <td>18 </td>
        <td>3 </td>
        <td>T </td>
    </tr>        
    <tr>
        <td>MATLAB Programming Workshop</td>
        <td>20</td>
        <td>1</td>
        <td>P</td>
    </tr>
    <tr>
        <td>Internet Engineering</td>
        <td>20</td>
        <td>3</td>
        <td>T</td>
    </tr>  
    <tr>
        <td>Computer Networks Laboratory</td>
        <td>20</td>
        <td>1</td>
        <td>P</td>
    </tr>
    <tr>
        <td>Database </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>     
    <tr>
        <td>Research Methodology and Presentation </td>
        <td>20 </td>
        <td>2 </td>
        <td>T </td>
    </tr>     
    <tr>
        <td>Database Laboratory </td>
        <td>20 </td>
        <td>1 </td>
        <td>P </td>
    </tr>
    <tr>
        <td>Software Project </td>
        <td>20 </td>
        <td>3 </td>
        <td>P </td>
    </tr> 
    <tr>
        <td>Internship </td>
        <td>20 </td>
        <td>1 </td>
        <td>P </td>
    </tr>     
    <tr>
        <td>Microprocessor Laboratory </td>
        <td>20 </td>
        <td>1 </td>
        <td>P </td>
    </tr> 
    <tr>
        <td>Computer Networks </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr> 
    <tr>
        <td>Operating Systems Laboratory </td>
        <td>19.5 </td>
        <td>1 </td>
        <td>P </td>
    </tr> 
    <tr>
        <td>Operating Systems </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr> 
    <tr>
        <td>Designing Digital Computer Systems </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr> 
    <tr>
        <td>Signals and Systems </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>
    <tr>
        <td>Principles of Compiler Design </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>
    <tr>
        <td>Microprocessor and Assembely language </td>
        <td>18.75 </td>
        <td>3 </td>
        <td>T </td>
    </tr>
    <tr>
        <td>Logic Circuits Laboratory and Computer Architectures </td>
        <td>20 </td>
        <td>1 </td>
        <td>P </td>
    </tr>   
    <tr>
        <td>Engineering Mathematics  </td>
        <td>18.5 </td>
        <td>3 </td>
        <td>T </td>
    </tr>   
    <tr>
        <td>General Mathematics (II) </td>
        <td>18.25 </td>
        <td>3 </td>
        <td>T </td>
    </tr>  
    <tr>
        <td>Physical Education </td>
        <td>20 </td>
        <td>1 </td>
        <td>P </td>
    </tr> 
    <tr>
        <td>Sports (I) </td>
        <td>19 </td>
        <td>1 </td>
        <td>P </td>
    </tr>     
    <tr>
        <td>Principles of Management and Planning Information Technology Strategies </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>      
    <tr>
        <td>Systems Analysis and Design </td>
        <td>20 </td>
        <td>3 </td>
        <td>T </td>
    </tr>     
    <tr>
        <td>Computer Architecture </td>
        <td>18.5 </td>
        <td>3 </td>
        <td>T </td>
    </tr>      
    <tr>
        <td>Data Structures </td>
        <td>15 </td>
        <td>3 </td>
        <td>T </td>
    </tr>   
    <tr>
        <td>Computer Workshop </td>
        <td>19 </td>
        <td>1 </td>
        <td>P </td>
    </tr>   
    <tr>
        <td>Fundemental of Computer and Programming </td>
        <td>18.23 </td>
        <td>3 </td>
        <td>T </td>
    </tr>   
    <tr>
        <td>Electrical Circuits </td>
        <td>18.5 </td>
        <td>3 </td>
        <td>T </td>
    </tr>                                                                                                                                       
  </table>

</div>
